@using AmazonClone.Models;
@model IEnumerable<AmazonClone.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products-grid js-products-grid">
    @foreach (var product in Model)
    {
        <div class="product-container">
            <div class="product-image-container">
                <img class="product-image" src="@product.Image" alt="@product.Name" />
            </div>

            <div class="product-name limit-text-to-2-lines">
                @product.Name
            </div>

            <div class="product-rating-container">
                <img class="product-rating-stars" src="@Url.Content($"~/images/ratings/rating-{product.Stars}.png")" alt="Rating" />
                <div class="product-rating-count link-primary">
                    @product.Counting
                </div>
            </div>

            <div class="product-price">
                <span class="price" data-price="@product.PriceCents">@product.PriceCents</span>
            </div>

            <div class="product-quantity-container">
                <form  asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <select name="quantity">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
            <div class="product-spacer"></div>
                    <button type="submit" class="add-to-cart-button button-primary">
                        Add to Cart
                    </button> 
                </form>
            </div>
        </div>
    
    }
</div>

<script>
    function formatCurrency(priceCents) {
        return (Math.round(priceCents) / 100).toFixed(2);
    }

    document.addEventListener("DOMContentLoaded", function () {
        var prices = document.querySelectorAll(".price");

        prices.forEach(function (priceElem) {
            var priceCents = parseInt(priceElem.dataset.price, 10);
            var formattedPrice = formatCurrency(priceCents);
            priceElem.innerText = '$' + formattedPrice;
        });
    });
</script>
