@model IEnumerable<AmazonClone.Areas.Admin.Models.DeliveryOption>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryOptionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=> item.DeliveryOptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeliveryOptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeliveryOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliveryOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
