@model IEnumerable<AmazonClone.Areas.Admin.Models.Cart>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Your Cart</h2>

<div class="cart-items">
    @foreach (var item in Model)
    {
        <div class="cart-item-container">
            <div class="delivery-date">
                Delivery date: 
            </div>
            <div class="cart-item-details-grid">
                <img class="product-image"
                     src="@item.Product.Image">

                <div class="cart-item-details">
                    <div class="product-name">
                        @item.Product.Name
                    </div>
                    <div class="product-price">
                        @item.Product.PriceCents
                    </div>
                    <div class="product-quantity">
                        <span>
                            Quantity: <span class="quantity-label
                  js-quantity-label">@item.Quantity</span>
                        </span>
                        <span class="update-quantity-link link-primary js-update-link"
                              data-product-id="@item.Product.ProductId">
                            Update
                        </span>
                        <input class="quantity-input js-save-quantity-input
                js-quantity-input-$@item.Product.ProductId}">
                        <span class="save-quantity-link link-primary js-save-quantity-link"
                              data-product-id="@item.Product.ProductId}">
                            Save
                        </span>
                        <span class="delete-quantity-link link-primary
                            js-delete-link"
                              data-product-id="@item.Product.ProductId">
                            Delete
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
