@model IEnumerable<StudenMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @using (Html.BeginForm("Index", "Students", FormMethod.Post, new { id = "f", name = "f" }))
    {
        @Html.AntiForgeryToken()
        <p align="right">
            <div class="col-md-2">
                @Html.Label("Class: ")
                @Html.DropDownList("ClassID", ViewBag.Classes as SelectList, "",
                         htmlAttributes: new { id = "classId", @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @{
                        string imageUrl = "Images/" + item.Image;
                    }
                    <img src="@Url.Content(imageUrl)" height="100" width="100" alt="@item.Image"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
