@model IEnumerable<AmazonClone.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Products List</h1>


<div class="row flex">
  
    @using (Html.BeginForm("Index", "Products", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-2">
            <span>Type:</span>
            @Html.DropDownList("Type", ViewBag.Type as SelectList, "All Products",
                     new { @class = "form-control codepro-btn-14", onchange = "this.form.submit();" })
        </div>
    }
    <button class="codepro-custom-btn codepro-btn-14"> <a asp-action="Create">Create New</a> </button>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
                
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
          <tr>
             <td>
                @Html.DisplayFor(modelItem => item.ProductId)
             </td>
            <td>
                    @{
                        string imageUrl = "~/" + item.Image;
                    }
                    <img src="@Url.Content(imageUrl)" height="110" width="150" alt="@item.Image">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceCents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counting)
            </td>
                <td>
                    <button class="codepro-custom-btn codepro-btn-14">
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> 
                    </button>
                    <br/>
                    <button class="codepro-custom-btn codepro-btn-14">
                        <a  casp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    </button>
                    <br/>
                    <button class="codepro-custom-btn codepro-btn-14">
                            <a  asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                     </button>
            </td>
        </tr>
}
    </tbody>
</table>
